train /Users/quynhdo/Desktop/ood.conll2009.pp.txt
valid /Users/quynhdo/Desktop/dev.conll2009.pp.txt
data form
pos V
eos True
model 11
save_folder .
we_dict /Users/quynhdo/Documents/WORKING/PhD/NNSRL/srlwe/srl.vectors.SG.50.txt
we_dict1 /Users/quynhdo/Documents/WORKING/PhD/NNSRL/srlwe/srl.vectors.SG.50.txt
batch_size 50
dep 1
hidden_size 32
hidden_size1 50
hidden_size2 6
max_epochs 120
