train muse/train.conll2009.pp.txt
train muse/brown2.pp.txt
train muse/brown3.pp.txt
train muse/wsj2.pp.txt
train muse/Reuters_Brown_Conll_Wiki.pp.10k.20k.txt
train muse/Reuters_Brown_Conll_Wiki.pp.30500.60k.txt
train muse/Reuters_Brown_Conll_Wiki.pp.60k.1M.txt
train muse/Reuters_Brown_Conll_Wiki.pp.1M.2M.txt
train muse/Reuters_Brown_Conll_Wiki.pp.2M.5M.txt
train muse/Reuters_Brown_Conll_Wiki.pp.5M.8M.txt
train muse/Reuters_Brown_Conll_Wiki.pp.11M.14M.txt
valid muse/dev.conll2009.pp.txt
data form
pos V
eos True
model 11
save_folder ModelOct
we_dict muse/vectors.SG.100.txt
we_dict1 muse/vectors.SG.100.txt
batch_size 50
dep 1
hidden_size 100
hidden_size1 100
hidden_size2 16
max_epochs 120
